#chillax{
    font-size: 80px;
    color: red;
    padding: 10px;
    font-family: 'Yeseva One', cursive;;
}
#cat{
    font-size: 20px;
    color: seashell;
    font-family: serif;
    background-color: black;
}
#main{
    background-color: black;
}  
img{
    width: 200px;
    height: 300px;
    margin: 10px;
    transition: transform, 1s;

}
#view{
    text-align: center;
    
}
p{
    width: 200px;
    margin:10px;
    color: white;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#rate{
    width: 200px;
    margin:10px;
    color: white;
    font-size: 15px;
} 
img:hover{
    transform: scale(1.2);


}
